html{
    background-image: url(ignasi_pattern_s.png);
}
.navbar-brand{
    background-color: #00afa6;
    color: white !important;
}
footer{
    border-top: 5px solid #00afa6; 
    bottom:0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: grey;
    color: white;
}
.container{
    
    position: fixed;
    margin-top: 10vh;
    margin-left: 5vh;
    background-color: white;
    float: left;
    width: 65%;
    max-height: auto;
    text-size-adjust: 2vh;
}
.container h1{
    
    margin-top: 15px;
    margin-left: 5px;
    color: #00afa6 !important;
    border-bottom: 1px solid lightgray;
}
.container img{
    max-width: 250px;
    max-height: 350px;
}

